<div id="<%= dom_id type %>">
  <p>
    <strong>Poke:</strong>
    <%= type.poke_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= type.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= type.url %>
  </p>

</div>
