<section class="section">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to('Types', types_path) %></li>
      <li><%= link_to('Abilities', abilities_path) %></li>
      <li><%= link_to('Pokemons', pokemons_path) %></li>
      <li class="is-active"><%= link_to('Home', controller: 'welcome', action: 'index') %></li>
    </ul>
  </nav>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome
    </p>
  </div>
</section>  
<div class="block">
    <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <img src="https://pbs.twimg.com/media/FHsytZUXwAQbds4?format=jpg&name=large" alt="Placeholder image">
          </figure>
        </div>
    </div>
  </div>
</div>
