<div id="<%= dom_id ability %>">
  <p>
    <strong>Poke:</strong>
    <%= ability.poke_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ability.url %>
  </p>

</div>
