<div id="<%= dom_id poketype %>">
  <p>
    <strong>Poke:</strong>
    <%= poketype.poke_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= poketype.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= poketype.url %>
  </p>

</div>
