<p style="color: green"><%= notice %></p>

<h1>Poketypes</h1>

<div id="poketypes">
  <% @poketypes.each do |poketype| %>
    <%= render poketype %>
    <p>
      <%= link_to "Show this poketype", poketype %>
    </p>
  <% end %>
</div>

<%= link_to "New poketype", new_poketype_path %>
